@import '../../assets/less/index';
.normal {
  background: #fff;
  min-height: 100%;
  .header {
    font-size: 34px;
    padding: .693333rem 0 .96rem 0.96rem;
  }
  .info {
    font-size: 12px;
    span {
      display: inline-block;
      color: @color-golden;
      padding-bottom: 10px;
    }
    
  }
  .Input {
    background: #f8f8f8;
    input {
      background:#f8f8f8;
    }
  }
  .codeInfo {
    font-size: 12px;
    padding-top: 20px;
    span {
      display: inline-block;
      color: @color-golden;
      padding-bottom: 10px;
      
    }
  }
}
