.title{
  color: #474747;
  text-align: center;
  h3{
    font-size: 18px;
    padding: 1.333333rem 0 .266667rem;
  }
  span{
    font-size: 12px;
  }
}
.border{
  border-bottom: 1px solid #eeeeee;
}
.form{
  background-color: #fff;
  border-radius: .266667rem;
  margin: .8rem .8rem 0;
  .flexForm{
    padding: .64rem .533333rem;
    label{
      font-size: 14px;
      width: 4.533333rem;
      height: 1.333333rem;
      line-height: 1.333333rem;
      border-right: 1px solid #eeeeee;
    }
  }
}